body{
    font-family: 'Open Sans', sans-serif;
    
    text-align: center;
    margin: 0;
    }
    
    #hero{
        width: 592px;
        margin: 0 auto 40px;
    }

    #hero img{
       

        width: 400px;
  height: 400px;

  margin-top: 100px;
  margin-left: 30px;
  margin-right: 100px;
    }
    
    #hero img{
        margin-bottom: 72px;
    }
    
    h1{
        font-family: 'Inter', sans-serif;
        font-size: 49px;
        line-height: 56px;
        font-weight: normal;
    
        margin-bottom: 32px;
    }
    
    h1 span{
        font-weight: bold;
    }
    
    
    span, a {
        color: #FF9900;
    }

    section#butão{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    button{
        text-transform: uppercase;
        font-family: 'Mulish', sans-serif;
        color: #fff;
    
        height: 60px;
        justify-content: center;
        align-items: center;
        gap: 20px;
       
        flex-shrink: 0;
        
        padding: 24px 64px 25px 64px;
        border: none;
        background: #FF9900;
        border-radius: 30px;
    
        cursor: pointer;
    }


    button:hover{
        background: #01925f;
    }
    
    p, #footer{
        color: #7d7987;
    
        font-size: 14px;
        line-height: 28px;
    }
    
    #footer a + a{
    margin-left: 28px;
    }
    
    #line{
        width: 568px;
        height: 0px;
    
        margin: 0 auto 8px;
    
        border: 1px solid #eceff2;
    
    }



    .galeria {
        margin-top: 3.2rem;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.2rem;

        overflow-y: scroll;
    background-color: #eeeded;
    }
    
    .item {
        background-color: var(--color-base-white);
        border-radius: .8rem;
        overflow: hidden;
    }
    
    .item img {
        width: 100%;

        margin-top: 20px;
  margin-left: 15px;
  margin-right: 30px;
  
        aspect-ratio: 16/9;
        object-fit: cover;
    
        transition: all 200ms ease-out;
    
        display: block;
    }
    
    .item img:hover{
        filter: hue-rotate(7deg) contrast(101%) saturate(200%);
        transform: scale(1.1);
    }
    
    .detalhes {
        padding: 2.2rem;
        background-color: var(--color-base-white);
        z-index: 1;
        position: relative;
    }
    
    .detalhes h2{
        font-size: 1.8rem;
    }
    
    .tags{
        margin-top: 1.2rem;
    }
    
    .tags span {
        padding: .6rem;
        background-color: #fd0707;
        border-radius: .4rem;
    
        line-height: 0;
        font-size: 1.2rem;
        text-transform: uppercase;
    }


    section#depoimentos{
        background: #1e1e22;
        display: grid;
        justify-content: center;
    
        padding: 72px 104px;
    }
    
    section#alunos{
        margin-top: 62px;
    
        display: grid;
        grid-template-columns: repeat(3, 370px);
        place-content: center;
        gap: 48px 60px;
    }
    
    div#texto h1{
        font-weight: 900;
        font-size: 40px;
        line-height: 72px;
    
        color: #FF9900;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    div#texto p {
        font-weight: 600;
        font-size: 15px;
        line-height: 40px;
    
        color: #646362;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        
    }

    section#alunos {
        display: flex;
        align-items: center;
    }

    section#alunos img{
        width: 300px;
        height: 300px;

        
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 50px;

  padding: 1px;
    }
    